<%- include('header'); %>

<section class="show-result">
    <p>Result</p>
    <div>
        <p>Roll No : <%= student.rollno %></p>
        <p>Name : <%= student.name %></p>
        <p>Date Of Birth : <%= student.dob %></p>
        <p>Score : <%= student.score %></p>
    </div>
</section>